* {
    margin: 0;
    border: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #000;
    padding: 5px;    
    position: relative;
}

.logo img {
    width: 100px;
}

.nav-header ul {
    display: flex;
    list-style: none;
    gap: 30px;
}

.nav-header ul li a {
    text-decoration: none;
    color: #fff;
}

.btn-header {
    display: flex;
    gap: 20px;
}

.btn-login {
    background-color: transparent;
}

.btn-login a,
.btn-SignUp a {
    color: #fff;
    text-decoration: none;
}

.btn-SignUp {
    padding: 10px 15px;
    border-radius: 5px;
    background-color: #ff0000;
}

/* Menu Mobile */
.menu-toggle{
    display: none;
}
.menu-toggle span{
    width: 30px;
    height: 3px;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 5px;
    transition: 0.7s ease;
}

.menu-toggle.active span:nth-child(1){
    background-color: red;
    transform:rotate(45deg) translate(5px, 5px);
}
.menu-toggle.active span:nth-child(2){
    opacity: 0;
}
.menu-toggle.active span:nth-child(3){
    background-color: red;
    transform:rotate(-45deg) translate(5px, -5px);

}
.menu-mobile{
    display: none;
  
}

@media(max-width:500px) {
    .menu-mobile{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        padding: 10px;
        gap: 20px;
        background-color: rgb(93, 100, 98);
        position: absolute;
        right: 0;
        top: 100%;
        width: 75%;
        height: 100vh;
        opacity: 0;
        visibility: hidden;
        transition: opacity 1s ease;
       
    }
    .nav-header,.btn-header{
        display: none;
    }
    .menu-mobile.show{
        opacity: 1;
        visibility: visible;
    }
    .menu-toggle{
        display: flex;
        flex-direction: column;
        gap: 4px;
        cursor: pointer;
    }
}

/* Fim Menu Mobile */